target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/*.properties
!**/src/main/resources/*.yaml
!**/src/main/resources/*.yml
.mvn/
.idea/
.vscode/
*.iml
mvnw
mvnw.cmd
.git/
.gitignore
.qoder/
HELP.md
TESTING.md
test-database.bat
test-database.sh
