<nav class="sidebar glass-card">
  <a class="logo" routerLink="/dashboard_formateur">
    <span class="logo-icon">🎓</span>
    <div class="logo-text">
      <span class="cni">CNI</span>
      <span class="system">GestionForm</span>
    </div>
  </a>

<div class="nav-links">

  <a routerLink="/dashboard_formateur" routerLinkActive="active" class="nav-item">
    <span>Dashboard</span>
  </a>

  <a routerLink="/profile" routerLinkActive="active" class="nav-item">
    <span>My Profile</span>
  </a>

  <a routerLink="/sessions" routerLinkActive="active" class="nav-item">
    <span>My Sessions</span>
  </a>

</div>
  <div class="spacer"></div>

  <div class="user-info-card glass-card" *ngIf="user">
    <div class="avatar">{{ user.prenom[0] }}{{ user.nom[0] }}</div>
    <div class="details">
      <p class="name">{{ user.prenom }} {{ user.nom }}</p>
      <p class="role">Trainer</p>
    </div>
  </div>
</nav>